block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Recipe Finder
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="/") Recipe Finder
        nav#menu
          ul
            li
              a(href="/") Home
    main#main 
      block main-content 
    footer#footer 
      p &copy; Made by CodesSuzy, Powered by Spoonacular and OpenFood API, 2024.